.idea/
__pycache__/
*.py[cod]

dataset/__pycache__/
reflect/__pycache__/
sitter/__pycache__/
train/__pycache__/
eval/unsloth_compiled_cache/
train/unsloth_compiled_cache/

train/outputs/
train/lora_model_*/
train/lora.zip
train/unsloth/
train/phi-4/
train/qwen3-4b/

lora_model_*/
